# Numeric
pandas<3.0.0
numpy
astropy

# Visualisation
matplotlib

# Core
ruff
requests

# Notebooks
jupyter
jupyterlab
jupyterlab_myst
ipympl

# Phase curve & period estimation
git+https://github.com/JulienPeloton/phunk.git@b7eff175efae27e843b05d111d5af4ac4a29a187
nifty_ls
